# backend
fastapi
uvicorn

# webscraper 
python-dotenv
beautifulsoup4
readability-lxml
requests
trafilatura
newspaper3k
finnhub-python
lxml

#forecasting
prophet
yfinance
pandas
statsmodels
matplotlib
xgboost
scikit-learn
sklearn